<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1+2 %></h3>
    <h3> <%= "apnacollege".toUpperCase() %></h3>
    <h3> <%= ["hello", "bonjour", "namaste"][2]%></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aspernatur distinctio, reiciendis error amet corrupti odio similique perspiciatis? Veritatis nobis temporibus cupiditate dolorum. Deserunt voluptatibus
         distinctio ut veritatis sed minus.
    </p>
    <button>click me!</button>
</body>
</html>